<%= @comment.content %>

<%= link_to 'edit', edit_post_comment_path(id: @comment.id, post_id: @comment.post_id) %> | 
<%= link_to 'Destroy', post_comment_path(id: @comment.id, post_id: @comment.post_id), method: :delete, data: { confirm: 'Are you sure?' } %>