<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
	<strong>Comments:</strong>
	<ul>
		<% @post.comments.each do |comment| %>
			<li><%= link_to comment.content, post_comment_path({id: comment.id, post_id: comment.post_id}) %></li>
		<% end %>
	</ul>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'New Comment', new_post_comment_path(@post) %>
